<!--
    Exercice :
    - Remplacer les balises <li> par le contenu du tableau liste
    - Au clic du bouton Ajouter récupérer le contenu de l'input
    et l'ajouter au tablea liste, ce qui aura pour conséquence de
    raffraichir les balises li
   (pour ajouter au tableau on utilise la méthode push :
   https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Array/push)
-->

<div>
  Ajouter à votre liste de course :
  <input [(ngModel)]="saisie" />
  <button (click)="add()">Ajouter</button>
</div>

<ul>
  <li *ngFor="let elt of liste">
    {{elt}}
  </li>
</ul>
