<b>Hello</b>
<app-hello></app-hello>
<app-hello name="Raphaelle"></app-hello>
<app-hello [name]="'Raphaelle' | uppercase"></app-hello>

<b>Counter</b>
<app-counter [count]="compteur" (countChange)="compteur = $event"></app-counter>
<!-- 
    const counterEl = document.querySelector('app-counter');
    counterEl.count = compteur; 
    counterEl.addEventListener('countChange', ($event) => {
        compteur = $event
    });
-->
<app-counter [(count)]="compteur"></app-counter>


<p>La valeur du compteur est : {{compteur}}</p>

<b>User Form</b>
<app-user-form></app-user-form>

<b>Clock</b>
<!-- <app-clock></app-clock> -->
<app-clock format="HH:mm"></app-clock>
<app-clock [delay]="2000"></app-clock>

<!-- <ng-select [items]="[{id: 1, firstName: 'Romain'}, {id: 2, firstName: 'Toto'}]"
        [multiple]="true"
        (add)="lastSelected = $event"
>
</ng-select> -->

<b>Select</b>
<!-- <app-select [items]="names" [selected]="name" (selectedChange)="name = $event"></app-select> -->
<app-select [items]="names" [(selected)]="name"></app-select>
