<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">AddressBook</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/presentation" routerLinkActive="active">
          Présentation
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">
          Users
        </a>
      </li>
    </ul>
  </div>
</nav>
